@import "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css";

.container-fluid{
    .card-container{
        margin-bottom: 1rem;
        .card{
            padding: 0% !important;
            margin: 0% !important;
        }
    }
}
